<% user.questionsAsked.forEach(function(question){ %>
    <div class="card" id="questionWrapper">
        <div class="card-body">
            <h6 class="questionBody">
                <%=question.questionBody %>
            </h6>
            <button id="answerButton" class="btn btn-sm btn-outline-secondary answerButton"><i
                    class="far fa-edit"></i>Answer</button>
            <div class="answer visually-hidden text-center">
                <div class="card" id="answerWrapper">
                    <form action="/query/answer" method="POST">
                        <div class="mb-1">
                            <textarea name="ansBody" class="body" rows="3" required></textarea>
                        </div>
                        <input type="text" value="<%= question.id %>" class="qid visually-hidden">
                        <div class="mb-1">
                            <button id="post" class="btn btn-outline-warning btn-sm">Post</button>
                        </div>
                    </form>
                </div>
            </div>
            <p>
                <%=question.answers.length%> answers
            </p>

        </div>
    </div>
    <% }); %>