<div class="body">
  <h3 class="text-center">Edit Profile</h3>

  <form class="text-center" action="/user/profile" enctype="multipart/form-data" method="POST">
    <div class="mb-3">
      <div class="picture">
        <img src="<%= user.avatar %>" alt="avatar">
        <input class="upload" type="file" name="avatar" placeholder="update profile image">
      </div>
    </div>
    <div class="mb-3">
      <label for="name"><b>Name</b></label>
      <input type="text" id="name" value="<%= user.name %>" name="newName">
    </div>
    <button type="submit" class="btn btn-danger">Edit</button>
  </form>
</div>