.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.formWrapper{
    width: 40%;
    height: max-content;
    border-bottom: solid 2px rgb(61, 59, 59);
    border-top: solid 1px grey;
    border-radius: 8px;
    padding: 28px;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

textarea{
    margin-top: 20px;
    height: 150px;
}