.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.formWrapper{
    width: 40%;
    height: max-content;
    border: solid 2px black;
     /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 8px;
    padding: 28px;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

textarea{
    margin-top: 20px;
    height: 80px;
}