.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 4px;
    height: fit-content;
    margin-bottom: 15px;
    overflow: hidden;
}

.questions{
    width: 40%;
}

#questionWrapper{
    margin-top: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.answer{
    padding: 5px;
    margin-top: 4px;
    padding-left: 0px;
}

.body{
    width: 100%;
}

.title{
    width: 100%;
    background: rgb(223, 221, 221);
    padding: 6px;
}
p{
    margin: 0px;
}

form{
    padding: 5px;
    
}

#answerWrapper{
    border: 0px;
}

#navbar{

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
}

a{
    text-decoration: none;
    color: black;  
}

a:hover{
    color: rgb(41, 40, 40);
}

#votes{
    padding: 5px;
    padding-left: 0px;
}

.otherAnswers{
    margin-top: 5px;
}

span{
    margin-right: 2px;
}