.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.questionWrapper {
  width: 45%;
  border: solid 2px white;
  padding: 8px;
}

.answerWrapper {
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(41, 40, 40);
}

#votes {
  padding: 5px;
  padding-left: 0px;
}

#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.body {
  width: 100%;
}

#answerWrapper {
  margin-top: 15px;
  padding: 10px;
  border: 0px;
}

.otherAnswers {
  margin-bottom: 2px;
}

hr {
  margin: 8px;
}

.answerButton {
  margin-top: 6px;
  margin-bottom: 6px;
}

p {
  margin: 0px;
  padding-left: 5px;
}

ul {
  padding: 4px;
  padding-top: 0px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

img {
  margin-top: auto;
  margin-bottom: auto;
}

.time {
  font-size: 12px;
}

.title {
  width: 100%;
  background: rgb(223, 221, 221);
  padding: 6px;
  display: flex;
  border-radius: 4px;
  margin-bottom: 5px;
}

.dropdown-item:active {
  background-color: lightgrey;
  color: black;
}
